body {
    background-image: url("../static/background-img.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#1F1E1E;
    color: #FAE8EB;
    font-family: 'Nunito', Verdana;
    /*mix-blend-mode: difference;*/
}

h1 {
    font-size: 7em;
}

h2 {
    font-size: 6em;
}

h3 {
    font-size: 5em;
}

h4 {
    font-size: 4em;
}

h5 {
    font-size: 3em;
}

h6 {
    font-size: 2em;
}

em {
    font-weight: bold;
    color: white;
}

a {
    color: #63E8AD;
}

a:hover {
    color: #FF5757;
    /*color: #63E8AD;*/
}
/*#about {*/
/*    width: 50%;*/
/*}*/


.content {
    /*background: rgba(0, 0, 0, .1);*/
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    /*mix-blend-mode: difference;*/
}

section.welcome {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

h2.sub-heading {
    position: relative;
    text-transform: uppercase;
    top: 50%;
    grid-column: 2 / 3;
    color: #FF5757;
    justify-self: self-start;
    padding-left: 1rem;
    font-size: 24px;
}

section.contact {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
}

section.aboutme {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

section.projects {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}

section.contact h1.section-title {
    display: none;
}

.contact-links {
    display: flex;
}

.project-about h6 {
    font-size: 20px;
    text-transform: uppercase;
}

.full_height {
    height: 100%;
}

.full_height_min {
    min-height: 100%;
}

.full_width {
    width: 100vw;
}

.half_width {
    width: 50vw;
}

.inline {
    display: inline-block;

}

.border {
    border: azure;
    border-style: solid;
    border-width: 10px;
}

.name {
    font-size: 36px;
}

.name span {
    color: #63E8AD;
}

.project-hero {
    max-width: 640px;
    min-width: 50%;
    height: auto;
    max-height: 640px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 10px;
    mix-blend-mode: difference;
    /*background: #1F1E1E;*/
}

.project-hero img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    /*mix-blend-mode: normal;*/
}
.project-hero img::before {
    background: #1F1E1E;
    /*mix-blend-mode: normal;*/
}

.proj-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
}

.proj-wrapper .section-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#left-arrow {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    left: 0;
    transform: translateX(50%);
}

#left-arrow:hover > #Left_Arrow{
    stroke: #63E8AD;
}

#right-arrow:hover > #Right_Arrow{
    stroke: #FF5757;
}

#right-arrow {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    left: 100%;
    transform: translateX(-100%);
    padding-right: 10px;
}

.carousel-wrapper {
    grid-column: 1 / 3;
    grid-right: 1 / 3;
}

/*.project-about p {*/
/*    font-size: 15px;*/
/*    line-height: 1.3em;*/
/*    padding-top: 1em;*/
/*}*/

#code, #code0, #view0, #view1 {
    margin: 10px;
    height: 30px;
    fill: #63E8AD;
    width: auto;
}


#view1:hover, #view0:hover, #code:hover, #code0:hover {
    fill: #FF5757;
}



.center {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutme p, .project-about p {
    font-size: 15px;
    padding-top: 1em;
    line-height: 1.3em;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel-card {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 1rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
    display: flex;
}

.carousel-card.initial, .carousel-card.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-card.prev {
    transform: translateX(-100%);
}

.carousel-card.next {
    transform: translateX(100%);
}

/*.carousel__button--prev,*/
/*.carousel__button--next {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: 3rem;*/
/*    height: 3rem;*/
/*    background-color: #FFF;*/
/*    transform: translateY(-50%);*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    z-index: 1001; !* Sit on top of everything *!*/
/*    border: 1px solid black;*/
/*    margin: 10px;*/
/*}*/

/*.carousel__button--prev {*/
/*    left: 0;*/
/*}*/

/*.carousel__button--next {*/
/*    right: 0;*/
/*}*/

/*.carousel__button--prev::after,*/
/*.carousel__button--next::after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    top: 50%;*/
/*    left: 54%;*/
/*    border-right: 2px solid black;*/
/*    border-bottom: 2px solid black;*/
/*    transform: translate(-50%, -50%) rotate(135deg);*/
/*}*/

/*.carousel__button--next::after {*/
/*    left: 47%;*/
/*    transform: translate(-50%, -50%) rotate(-45deg);*/
/*}*/

.bottom {
    position: relative;
    top: 100%;
    transform: translateY(-50px);

}

.section-title {
    font-size: 24px;
}

.pad-left {
    padding-left: 1rem;
}

.pad-x {
    padding: 0 1em 0 1em;
}



.contact {
    /*min-height: 150px;*/
    /*background: #000000;*/
}

.contact svg {
    height: 35px;
    width: auto;
    margin: 20px 25px 20px 25px;
}

#linkedin-link:hover, #github-link:hover {
    cursor: pointer;
}
#linkedin-link:hover {
    filter: invert(100%);
}
#github-link:hover {
    filter: invert(100%);
}

.contact-links .email {
    margin: 30px 25px 0 25px;
    display: flex;
    float: left;
}

@media only screen and (max-width: 768px) {
     * , *:before, *:after{
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     -ms-box-sizing:border-box;
   }

    section.welcome {
        grid-column: none;
        grid-row: none;
        grid-template-rows: none;
        grid-template-columns: none;
        max-width: 100%;
        display: block;
    }
    .proj-wrapper, section.welcome {
        display: block;
        grid-template-columns: none;
        max-width: 100%;
    }
    section.welcome div.center {
        transform: none;
        top: auto;
        left: auto;

    }
    section.aboutme {
        padding: 1em 0 1em 0;
        grid-column: revert;
        grid-row: revert;
    }
    section > .full_height_min {
        width: 100%;
        padding: 0 1em;
    }
    section.projects {
        grid-column: revert;
        grid-row: revert;
    }
    .sub-heading {
        padding-top: 1.5em;
        margin: auto;
        text-align: center;
    }
    #left-arrow, #right-arrow {
        position: relative;
        /*!*transform: translateX(-50%);*!*/
        z-index: 9999;
    }
    #left-arrow {
        left: 0;
    }
    #right-arrow {
        right: 0;
        transform: translate(-60px);
    }

    section, .project-about {
        width: 100%
        padding: 0;

    }
    .project-about, .project-hero {
        margin: auto;
        padding: 1em;
    }


    .content {
        /*background: rgba(0, 0, 0, .1);*/
        width: 100%;
        margin: auto;
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .carousel-card {
        display: block;
        margin: auto;
        width: 100%;
    }
    .name {
        padding-top: 2em;
    }
    section.projects h1, .sub-heading {
        padding-bottom: 1em;
    }


    /*.name {*/
    /*    font-size: 4.5em;*/
    /*}*/
    /*.sub-heading {*/
    /*    font-size: 2em;*/
    /*}*/
    /*#about {*/
    /*    width: auto;*/
    /*}*/
    /*.section-title {*/
    /*    font-size: 2.5em;*/
    /*}*/
    /*.aboutme p {*/
    /*    font-size: 1em;*/
    /*    line-height: 1em;*/

    /*}*/
    .project-about p {
    font-size: 1em;
    line-height: 1em;
    }
    .pad-left {
        padding-left: 1rem;
    }
    .pad-x {
        padding: 0 1rem 0 1rem;
    }
    .carousel__button--prev,
    .carousel__button--next {
        width: 1.5rem;
        height: 1.5rem;
    }
    .contact svg {
        height: 35px;
        width: auto;
        margin: 20px 10px 20px 25px;
    }
    .contact-links .email {
        margin: auto;
    }
    #code, #code0, #view0, #view1 {
        height: 20px;

    }
    /*html {*/
    /*    max-width: 100vw;*/
    /*}*/
}